links.md
.env
__pycache__
.data
venv
dados
dados.bck
logs

# Ambientes Virtuais
.venv/
env/

# Dados Locais (Excedem limites do Git)
data/
*.parquet
*.csv

# Python Cache
*.pyc

# Arquivos de Sistema
.DS_Store

# Diretório Gemeni (Cache local da IA)
.gemini/